{% extends "admin/login_form.html" %}

{% block javascript %}
    <script>
    $("#loginForm").submit(function (e) {
        e.preventDefault();
        $.ajax({
               type: 'POST',
               url: "../../login",
               data: {
                    account: $("#username").val(),
                    password: $("#password").val()
               },
               success: function (response) {
               if (response['kq'] == '0') {
                    $("#message").text('Tài khoản hoặc mật khẩu không chính xác!');
                    var z = $("#message").text();
               }
               else if (response['kq'] == 'redirect') {
                    $("#warning").show();
               }
               else {
                    window.location='/usr/0/information';
                   }
               },
               error: function () {
<!--                  console.log(response)-->
               }
        });
    });
    </script>
{% endblock %}
</body>

</html>