{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Đăng nhập</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/font-awesome.min.css' %}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/owl.transitions.css' %}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/animate.css' %}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/normalize.css' %}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/main.css' %}">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/morrisjs/morris.css' %}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/scrollbar/jquery.mCustomScrollbar.min.css' %}">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/metisMenu/metisMenu.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/metisMenu/metisMenu-vertical.css' %}">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/calendar/fullcalendar.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/calendar/fullcalendar.print.min.css' %}">
    <!-- forms CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/form/all-type-forms.css' %}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/style.css' %}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'admin/css/responsive.css' %}">
    <!-- modernizr JS
		============================================ -->
    <script src="{% static 'admin/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <!-- Ajax-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div class="error-pagewrap">
		<div class="error-page-int">
			<div class="text-center m-b-md custom-login">
				<h3>Đăng nhập</h3>
				<p>Hệ thống đấu giá sinh viên</p>
			</div>
			<div class="content-error">
                <div class="alert alert-warning" role="alert" id="warning" style="display: none;">
                     <strong>Vui lòng xác nhận email để đăng nhập.</strong>
                </div>
				<div class="hpanel">
                    <div class="panel-body">
                        <form id="loginForm" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label">{{ form.account.label }}</label>
                                {{ form.account }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">{{ form.password.label }}</label>
                                <input type="password" title="Vui lòng nhập mật khẩu" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                            </div>
                            <div class="checkbox login-checkbox">
                                <p id="message" class="help-block small" style="color: red;"> </p>
                            </div>
                            <button class="btn btn-success btn-block loginbtn" id="loginbtn" type="submit">Đăng nhập</button>
                            <a class="btn btn-success btn-block loginbtn" href="/registration">Đăng ký</a>
                        </form>
                    </div>
                </div>
			</div>
			<div class="text-center login-footer">
				<p>Copyright © 2018. All rights reserved. Template by <a href="https://colorlib.com/wp/templates/">Colorlib</a></p>
			</div>
		</div>   
    </div>
    <!-- jquery
		============================================ -->
<!--    <script src="{% static 'admin/js/vendor/jquery-1.12.4.min.js' %}"></script>-->
    <!-- bootstrap JS
		============================================ -->
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <!-- wow JS
		============================================ -->
    <script src="{% static 'admin/js/wow.min.js' %}"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="{% static 'admin/js/jquery-price-slider.js' %}"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="{% static 'admin/js/jquery.meanmenu.js' %}"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="{% static 'admin/js/owl.carousel.min.js' %}"></script>
    <!-- sticky JS
		============================================ -->
    <script src="{% static 'admin/js/jquery.sticky.js' %}"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="{% static 'admin/js/jquery.scrollUp.min.js' %}"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="{% static 'admin/js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'admin/js/scrollbar/mCustomScrollbar-active.js' %}"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="{% static 'admin/js/metisMenu/metisMenu.min.js' %}"></script>
    <script src="{% static 'js/metisMenu/metisMenu-active.js' %}"></script>
    <!-- tab JS
		============================================ -->
    <script src="{% static 'admin/js/tab.js' %}"></script>
    <!-- icheck JS
		============================================ -->
    <script src="{% static 'admin/js/icheck/icheck.min.js' %}"></script>
    <script src="{% static 'admin/js/icheck/icheck-active.js' %}"></script>
    <!-- plugins JS
		============================================ -->
    <script src="{% static 'admin/js/plugins.js' %}"></script>
    <!-- main JS
		============================================ -->
    <script src="{% static 'admin/js/main.js' %}"></script>
    <!-- tawk chat JS
		============================================ -->
<!--    <script src="{% static 'admin/js/tawk-chat.js' %}"></script>-->
    <script>
    $("#loginForm").submit(function (e) {
        e.preventDefault();
        $.ajax({
               type: 'POST',
               url: "../../login",
               data: {
                    account: $("#username").val(),
                    password: $("#password").val()
               },
               success: function (response) {
               if (response['kq'] == '0') {
                    $("#message").text('Tài khoản hoặc mật khẩu không chính xác!');
                    var z = $("#message").text();
               }
               else if (response['kq'] == 'redirect') {
                    $("#warning").show();
               }
<!--               else if (response['kq'] == '3') {-->
<!--                    window.location='../index';-->
<!--                    }-->
               else {
                    window.location='/usr/0/information';
                   }
               },
               error: function () {
<!--                  console.log(response)-->
               }
        });
    });
    </script>
</body>

</html>