{% extends "website/base.html" %}
{% load static %}
{% block title %}
    <title>Trang chủ</title>
{% endblock %}

{% block content %}
<div class="courses-area">
            <div class="container-fluid">
                <div class="row">
                    {% for r in room %}
                    {% if r.status == 'opening' %}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="courses-inner res-mg-t-30 dk-res-t-pro-30">
                            <div class="courses-title">
                                <a href="#"><img src="{{ r.product_id.image.0.url }}" alt=""></a>
                                <h2>{{ r.product_id.name }}</h2>
                            </div>
<!--                            <div class="courses-alaltic">-->
<!--                                <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-clock"></i></span> 1 Year</span>-->
<!--                                <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-heart"></i></span> 50</span>-->
<!--                                <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-dollar"></i></span> 500</span>-->
<!--                            </div>-->
                            <div class="course-des">
                                <p><b>Curent bid:</b> {{ r.product_id.startingbid}} </p>
                                <p><b>Bidders:</b> {{ r.bidders|length }} </p>
                                <p class="timer"><span><i class="fa fa-clock"></i></span> </p>
                                <input type="hidden" class="set-time" value="{{ r.end|date:'Y-m-d H:m:s' }}"/>
                                <div id="countdown">
                                    <div class='tiles color-full'></div>
                                </div>
                            </div>
                            <div class="product-buttons">
                                <button type="button" class="button-default cart-btn">Tham gia</button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
<!--        <div class="footer-copyright-area">-->
<!--            <div class="container-fluid">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
<!--                        <div class="footer-copy-right">-->
<!--                            <p>Copyright © 2018. All rights reserved. Template by <a href="https://colorlib.com/wp/templates/">Colorlib</a></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
{% endblock %}
{% block javascript %}
<!--   <script>-->
<!--      alert('skjsks');-->
<!--      var t = $( '#set-time' ).val();-->
<!--      var tgianht = new Date().getTime();-->
<!--      var end = Date.parse(t);-->
<!--      var minutes = (end/60000) - (tgianht/ 60000);-->
<!--      alert(minutes);-->

<!--&lt;!&ndash;       var minutes = $( '#set-time' ).val();&ndash;&gt;-->

<!--var target_date = new Date().getTime() + ((minutes * 60 ) * 1000); // set the countdown date-->
<!--var time_limit = ((minutes * 60 ) * 1000);-->
<!--//set actual timer-->
<!--setTimeout(-->
<!--  function()-->
<!--  {-->
<!--    alert( 'done' );-->
<!--  }, time_limit );-->

<!--var days, hours, minutes, seconds; // variables for time units-->

<!--var timer = document.getElementById("timer");-->
<!--var countdown = document.getElementById("tiles"); // get tag element-->

<!--getCountdown();-->

<!--setInterval(function () { getCountdown(); }, 1000);-->

<!--function getCountdown(){-->

<!--	// find the amount of "seconds" between now and target-->
<!--	var current_date = new Date().getTime();-->
<!--	var seconds_left = (target_date - current_date) / 1000;-->

<!--if ( seconds_left >= 0 ) {-->
<!--  console.log(time_limit);-->
<!--   if ( (seconds_left * 1000 ) < ( time_limit / 2 ) )  {-->
<!--     $( '#tiles' ).removeClass('color-full');-->
<!--     $( '#tiles' ).addClass('color-half');-->

<!--		}-->
<!--    if ( (seconds_left * 1000 ) < ( time_limit / 4 ) )  {-->
<!--    	$( '#tiles' ).removeClass('color-half');-->
<!--    	$( '#tiles' ).addClass('color-empty');-->
<!--    }-->

<!--	days = pad( parseInt(seconds_left / 86400) );-->
<!--	seconds_left = seconds_left % 86400;-->

<!--	hours = pad( parseInt(seconds_left / 3600) );-->
<!--	seconds_left = seconds_left % 3600;-->

<!--	minutes = pad( parseInt(seconds_left / 60) );-->
<!--	seconds = pad( parseInt( seconds_left % 60 ) );-->

<!--	// format countdown string + set tag value-->
<!--	var c = "<span> " + hours + ":</span><span>" + minutes + ":</span><span>" + seconds + "</span>";-->
<!--    timer.innerHTML = "<span><b>End:</b></span>" + c;-->


<!--}-->



<!--}-->

<!--function pad(n) {-->
<!--	return (n < 10 ? '0' : '') + n;-->
<!--}-->


<!--   </script>-->
<script>
<!--   console.log('done did the form Funct: ');-->
    var slides= document.getElementsByClassName('set-time');
    Array.prototype.forEach.call(slides, function(slide, index) {
    var t = slides.item(index).value;
      var tgianht = new Date().getTime();
      var end = Date.parse(t);
      var minutes = (end/60000) - (tgianht/ 60000);

<!--       var minutes = $( '#set-time' ).val();-->

var target_date = new Date().getTime() + ((minutes * 60 ) * 1000); // set the countdown date
var time_limit = ((minutes * 60 ) * 1000);
//set actual timer
setTimeout(
  function()
  {
    alert( 'done' );
  }, time_limit );

var days, hours, minutes, seconds; // variables for time units

<!--var v = slides.item(index).parentNode;-->
var y = slides.item(index).closest('.course-des');
<!--var timer = y.getElementsByClassName("timer");-->
var timer = document.getElementsByClassName("timer")[index];

<!--var countdown = y.getElementsByClassName("tiles"); // get tag element-->
var countdown = document.getElementsByClassName("tiles")[index]; // get tag element

getCountdown();

setInterval(function () { getCountdown(); }, 1000);

function getCountdown(){

	// find the amount of "seconds" between now and target
	var current_date = new Date().getTime();
	var seconds_left = (target_date - current_date) / 1000;

if ( seconds_left >= 0 ) {
  console.log(time_limit);
   if ( (seconds_left * 1000 ) < ( time_limit / 2 ) )  {
     $( '.tiles' )[index].removeClass('color-full');
     $( '.tiles' )[index].addClass('color-half');

		}
    if ( (seconds_left * 1000 ) < ( time_limit / 4 ) )  {
    	$( '.tiles' )[index].removeClass('color-half');
    	$( '.tiles' )[index].addClass('color-empty');
    }
	days = pad( parseInt(seconds_left / 86400) );
	seconds_left = seconds_left % 86400;

	hours = pad( parseInt(seconds_left / 3600) );
	seconds_left = seconds_left % 3600;

	minutes = pad( parseInt(seconds_left / 60) );
	seconds = pad( parseInt( seconds_left % 60 ) );

	// format countdown string + set tag value
	var c = "<span> " + hours + ":</span><span>" + minutes + ":</span><span>" + seconds + "</span>";
    timer.innerHTML = "<span><b>End:</b></span>" + c;


}



}

function pad(n) {
	return (n < 10 ? '0' : '') + n;
}
});


   </script>
{% endblock %}
