{% extends "admin/category_edit.html" %}
{% load static %}
{% block title %}
    <title>Cập nhật danh mục</title>
{% endblock %}

{% block 'bl' %}
    <div id="myTabContent" class="tab-content custom-product-edit">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div id="dropzone1" class="pro-ad addcoursepro">
                                                    <form method="post" id="edit_form" class="dropzone dropzone-custom needsclick addlibrary">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="form-group">
                                                                    <label class="control-label">{{ form.catagory_parent.label }}</label>
																    {{ form.catagory_parent }}
                                                                    <input type="hidden" id="cate_parent" value="{{ cate.catagory_parent }}">
															    </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">{{ form.name.label }}</label>
                                                                    {{ form.name }}
                                                                    <input type="hidden" id="cate_name" value="{{ cate.name }}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-tab-list tab-pane fade" id="reviews">
                                    <div class="row">
                                        <div class="add-product" style="float: right;">
                                            <button data-toggle="tooltip" title="Thêm" class="pd-setting-ed add-attr-btn"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                            <button data-toggle="tooltip" title="Lưu" class="pd-setting-ed save-attr-btn"><i class="fa fa-save" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <h4>{{ form_attribute.attribute_groups_id.label }}</h4>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <h4 class="control-label">{{ form_attribute.name.label }}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row attr-form">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                {% if cate.attributes_id.0.id is None %}
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            {{ form_attribute.attribute_groups_id }}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            {{ form.attributes_id }}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% for c in cate.attributes_id %}
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            {{ form_attribute.attribute_groups_id }}
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            {{ form.attributes_id }}
                                                            <input type="hidden" class="cate_attr_id" value="{{ c.id }}">
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
    </div>
{% endblock %}

{% block save-btn %}
<script src="{% static 'admin/js/dropzone/dropzone.js' %}"></script>
    <!-- Select2 CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

<!-- jQuery --> <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Select2 JS -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function(){
        $(".t").attr('disabled', 'disabled');

        $("#id_name").val($("#cate_name").val());
        $("#id_catagory_parent").val($("#cate_parent").val());
        var attributes_id = document.getElementsByClassName("cate_attr_id");
        var select = document.getElementsByClassName("form-control tt");
        for (let i = 0; i < attributes_id.length; i++) {
          $(".t").attr('disabled', 'disabled');
          select[i].value = attributes_id[i].value;
       }
    });
</script>
{% endblock %}